# Address to bind the server to
ADDR=0.0.0.0
# Port to run the server on
PORT=8000
# Avail HTTP RPC URL ( REQUIRED )
AVAIL_RPC=https://turing-rpc.avail.so/rpc

# For Avail DA service
# Avail seed phrase ( OPTIONAL - defaults to empty string )
AVAIL_SEED=
# Avail App ID (OPTIONAL - defaults to 0) This must be set to a valid App ID for your application
AVAIL_APPID=

# For Turbo DA service
# Turbo DA Configuration
TURBODA=false
TURBODA_URL=https://turing.turbo-api.availproject.org
TURBODA_KEY=