# Address to bind the server to
OP_PLASMA_AVAIL_DA_SERVER_ADDR=
# Port to run the server on
OP_PLASMA_AVAIL_DA_SERVER_PORT=
# Avail HTTP RPC URL ( REQUIRED )
OP_PLASMA_AVAIL_DA_SERVER_AVAIL_RPC=

# For Avail DA service
# Avail seed phrase ( OPTIONAL - defaults to empty string )
OP_PLASMA_AVAIL_DA_SERVER_AVAIL_SEED=
# Avail App ID (OPTIONAL - defaults to 0) This must be set to a valid App ID for your application
OP_PLASMA_AVAIL_DA_SERVER_AVAIL_APPID=

# For Turbo DA service
# Turbo DA Configuration
OP_PLASMA_AVAIL_DA_SERVER_TURBODA=
OP_PLASMA_AVAIL_DA_SERVER_TURBODA_URL=
OP_PLASMA_AVAIL_DA_SERVER_TURBODA_KEY=